name: Tests

on: [push]

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: [ '3.7', '3.8' ]
    name: Python ${{ matrix.python-version }} sample
    steps:
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0
          # we need fetch-depth 0 so setuptools_scm can resolve tags
      - name: Setup python
        uses: actions/setup-python@v1
        with:
          python-version: ${{ matrix.python-version }}
          architecture: x64
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install .[dev]
          python -m pip install coverage
          python -m pip install coveralls
      - name: Test with pytest
        run: |
          py.test tests
          coverage run --branch --include=clvm/SExp.py -m pytest tests/as_python_test.py
          coverage run -a --branch --include=clvm/serialize.py -m pytest tests/serialize_test.py
          coverage run -a --branch --source=clvm --omit=clvm/SExp.py,clvm/serialize.py -m pytest tests
          coverage report -m
          ls -al
      - name: Coveralls
        uses: coverallsapp/github-action@v1.1.2
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov: ${{ github.workspace }}./coverage/lcov.info
