name: Tests

on: [push]

jobs:
  build:

    runs-on: macOS-latest

    steps:
    - uses: actions/checkout@v1
    - name: Set up Python 3.7
      uses: actions/setup-python@v1
      with:
        python-version: 3.7
    - name: Set env
      run: |
        python3 -m venv env
        ln -s env/bin/activate
        . activate
    - name: Install dependencies
      env:
        CLVM_TOOLS_DEPLOY_KEY: ${{ secrets.CLVM_TOOLS_DEPLOY_KEY }}
        GIT_SSH_COMMAND: "ssh -o StrictHostKeyChecking=no"
      run: |
        eval "$(ssh-agent -s)"
        ssh-add - <<< "${CLVM_TOOLS_DEPLOY_KEY}"
        python -m pip install --upgrade pip
        pip install -r requirements-dev.txt 
    - name: Test with pytest
      run: |
        py.test tests
